<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         shortenArraysForExportThreshold="10"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         failOnRisky="true"
         failOnWarning="true">

    <source>
        <include>
            <directory>../2021/php/app</directory>
            <directory>../2022/php/app</directory>
            <directory>../2023/php/app</directory>
            <directory>../2024/php/app</directory>
            <directory>../2025/php/app</directory>
        </include>
    </source>

    <testsuites>
        <testsuite name="default">
            <directory suffix=".php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
